<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>


<h2>User Edit Form</h2>

<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="username">Username:</label><br>
    <input id="username" placeholder="Enter username" required type="text" th:field="*{username}"/><br>
    <label for="password">Password:</label><br>
    <input id="password" placeholder="Enter password" required type="text" th:field="*{password}"/><br>
    <br>
    <p><strong>Select Roles(Multiple):</strong></p>
    <label>
        <select name="role_select" multiple>
            <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getAuthority()}"></option>
        </select>
    </label>

    <br><br>

    <input type="submit" value="Update">
</form>

</body>
</html>